@page
@model CDKST.Pages.Dispositions.IndexModel
@{
    ViewData["Title"] = "Dispositions";
    var count = 1;
}
 <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Dispositions</h1>
    </div>
    </div>
  </header>
 <section id="projects" class="projects-section">
    <div class="text-center">
        <table class="table text-light">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var disposition in Model.DispositionList)
                {
                    <tr>
                        <th scope="row">@disposition.Id</th>
                        <td>@disposition.Name</td>
                        <td>@disposition.Description</td>
                        <td>@disposition.Category</td>
                    </tr>
                    { count++; }
                }
            </tbody>
        </table>
    </div>
</section>



    



  


