@page
@model CDKST.Pages_Knowledge_Element.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>KnowledgeElement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KnowledgeElement.term_identifier" class="control-label"></label>
                <input asp-for="KnowledgeElement.term_identifier" class="form-control" />
                <span asp-validation-for="KnowledgeElement.term_identifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KnowledgeElement.cartesian_index" class="control-label"></label>
                <input asp-for="KnowledgeElement.cartesian_index" class="form-control" />
                <span asp-validation-for="KnowledgeElement.cartesian_index" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KnowledgeElement.semiotic_index" class="control-label"></label>
                <input asp-for="KnowledgeElement.semiotic_index" class="form-control" />
                <span asp-validation-for="KnowledgeElement.semiotic_index" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KnowledgeElement.descriptor" class="control-label"></label>
                <input asp-for="KnowledgeElement.descriptor" class="form-control" />
                <span asp-validation-for="KnowledgeElement.descriptor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KnowledgeElement.etymology" class="control-label"></label>
                <input asp-for="KnowledgeElement.etymology" class="form-control" />
                <span asp-validation-for="KnowledgeElement.etymology" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
