@page
@model CDKST.Pages.SkillLevels.IndexModel
@{
    ViewData["Title"] = "Skill Levels";
    var count = 1;
}
<header class="skillhead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Skill Levels </h1>
            <h2 class ="mx-auto my-0 text-center">Bloom</h2>
        </div>
    </div>
</header>
<section id="skill" class="skill-section">
    <div class="text-center">
        <table class="table text-light">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Cartesian Index</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var skilllevel in Model.SkillLevelList)
                {
                    <tr>
                        <th scope="row">@skilllevel.Id</th>
                        <td>@skilllevel.Name</td>
                        <td>@skilllevel.Description</td>
                        <td>@skilllevel.CartesianIndex</td>
                    </tr>
                    { count++; }
                }
            </tbody>
        </table>
    </div>
</section>



    



  


