@page
@model CDKST.Pages.Competencies.IndexModel
@{
    ViewData["Title"] = "Competencies";
    int count = 0;
}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Competencies</h1>
    </div>
    </div>
  </header>
 <section id="projects" class="projects-section">
    <div class="text-center">
    <table class="table table-hover text-light">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competency in Model.CompetencyList)
            {
                <tr>
                    <th scope="row">@competency.Id</th>
                    <td>@competency.Name</td>
                    <td>@competency.Description</td>
                </tr>
                { count++; }
            }
        </tbody>
    </table>
</section>


