@page
@model CDKST.Pages_Disposition_Applied.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DispositionApplied</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DispositionApplied.category" class="control-label"></label>
                <input asp-for="DispositionApplied.category" class="form-control" />
                <span asp-validation-for="DispositionApplied.category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DispositionApplied.discipline" class="control-label"></label>
                <input asp-for="DispositionApplied.discipline" class="form-control" />
                <span asp-validation-for="DispositionApplied.discipline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DispositionApplied.description" class="control-label"></label>
                <input asp-for="DispositionApplied.description" class="form-control" />
                <span asp-validation-for="DispositionApplied.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DispositionApplied.location" class="control-label"></label>
                <input asp-for="DispositionApplied.location" class="form-control" />
                <span asp-validation-for="DispositionApplied.location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
